<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <title>The Halls of Mandos</title>
  </head>
  <body>
    <div class="container">
      <div class="header-dashboard">
        <div>
          <h1 style="margin:0; font-size: 1.5em; color: var(--blue);">The Halls of Mandos</h1>
        </div>
      </div>

      <div class="log-list" id="log-list">
      </div>
    </div>

    <script src="/js/load_logs.js"></script>
  </body>
</html>