<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/show.css">
    <title>MUME Log Viewer</title>
  </head>
<body>
  <div class="container">
    <div class="header-dashboard">
      <nav aria-label="Breadcrumb" class="header-left breadcrumbs">
        <a href="/" class="breadcrumb-link">Home</a>
        <span id="home-seperator" class="breadcrumb-separator">/</span>
        <span id="log-title" class="breadcrumb-current"></span>
        <span id="discord-seperator" class="breadcrumb-separator">/</span>
        <a id="discord-link" href="#" target="_blank" class="breadcrumb-link">
          Discuss on Discord
        </a>
      </nav>
      
      <div class="header-right">
        <div id="user-meta" class="user-meta">
          <span>By <strong class="uploader-name">Nazgum</strong></span> on  
          <span id="metaDate">...</span>
        </div>
        
        <div class="theme-switcher">
          <button id="theme-toggle" class="theme-btn" aria-label="Select Theme">
            <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
          </button>
          <div id="theme-menu" class="theme-menu hidden"></div>
        </div>
      </div>
    </div>
      
    <div class="main-layout">
      <div class="log-column" id="logContainer"></div>

      <div class="sidebar-column">
        <div class="widget">
          <div class="timeline-header">
            <h3>Timeline</h3>
            <div class="controls">
              <div class="speed-group">
                <button class="speed-btn" onclick="setSpeed(this, 600)">.5x</button>
                <button class="speed-btn" onclick="setSpeed(this, 400)">.8x</button>
                <button class="speed-btn active" onclick="setSpeed(this, 300)">1x</button>
                <button class="speed-btn" onclick="setSpeed(this, 200)">2x</button>
                <button class="speed-btn" onclick="setSpeed(this, 100)">3x</button>
              </div>
              <div class="speed-group">
                <button id="playBtn" onclick="togglePlay()" class="play-btn">Auto-Read</button>
              </div>
            </div>
          </div>
          <div class="timeline-list" id="timelineContainer"></div>
        </div>
      </div>
    </div>
  </div>

  <script type="module" src="/js/viewer.js"></script>
  <script src="/js/discord_link.js"></script>
  <script src="/js/theme_switcher.js"></script>
</body>
</html>